@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color:white;
    background-color:#00BFA6;
}
header{
    font-size: 3rem;
    margin: 2rem;
}
p{
    padding:1rem;
}

label{
    margin:1rem;
}

button{
    margin: 1rem;
    border-radius: 0.5rem;
}

.output{
    font-size: 2rem;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    border-radius: .5rem;
  }